body{
	background:#fff url(bg-noise.png);
	font:1em Exo, Arial, Sans;
	color: #fff;
	text-align: center;
}


h1{
	font-weight: 200;
	font-size: 2rem;
	border-bottom:1px dashed #aaa;
	padding: 0 0 10px 0;
}

.board{
	display: table;
	border-collapse: collapse;
	margin: 20px auto;
}
.row{
	display: table-row;
}
.cell{
	display: table-cell;
	padding: 15px;
	border: 1px solid #3498db;
}
.cell.dead{
	border:none;
	box-shadow: none;
}
.cell.hole{
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cell.hole.target{
	background: #ffff88; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffff88 0%, #ffff88 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffff88), color-stop(100%,#ffff88)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffff88 0%,#ffff88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffff88 0%,#ffff88 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffff88 0%,#ffff88 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffff88 0%,#ffff88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cell.alive{
	background: #88bfe8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #88bfe8 0%, #70b0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#88bfe8), color-stop(100%,#70b0e0)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #88bfe8 0%,#70b0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #88bfe8 0%,#70b0e0 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #88bfe8 0%,#70b0e0 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #88bfe8 0%,#70b0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.marble{
	border:1px solid #aaa;
	transition:box-shadow .2s;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fcfff4; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcfff4 0%,#e9e9ce 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cell.alive .marble:hover{
	box-shadow: 0 0 10px #666;
}
.dead .marble, .hole .marble{
	visibility: hidden;
}
.hole.target .marble{
	visibility: visible;
	border: 1px dashed #888;	
}

.stats{
	margin:10px 0;

}
.stats label, .stats #moves, .stats button{
	margin:0 10px;
}
.scoreboard #moves{
	color: yellow;
	font-size: 2rem;
}

/* thanks to http://daneden.github.io/animate.css/ */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

.gameover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 20;
	opacity: .9;
	color: #000;
}
.hidden{
	display: none;
}
.gameover .actions{
	position: relative;
	top:30%;
}
.gameover .actions p{
	text-align: center;
	padding: 10px;
}

button{
	background-color: #e74c3c;
	border: none;
	border-bottom: 2px solid #c0392b;
	font-size: 1.2rem;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.about{
	width:50%;
	margin: 0 auto;
}
.about p{
	font-size: 1.2rem;
	line-height: 2.2rem;
}
.author{
	font-size: 1rem;
	border-top: 1px dashed #aaa;
}
.author a:link, .author a:visited, .author a:hover, .author a:active{
	color: yellow;
}